<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <title>github</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
    .container {
        overflow                    : hidden;
        position                    : absolute;
        display                     : block;

    }

    .left {
        float                       : left;
        left                        : 0px;
        width                       : 30%;
    }

    .right {
        float                       : right;
        left                        : 30%;
        width                       : 70%;
    }
    </style>

</head>

<body>
    <div class='title'>BlaBlaBla CMS</div>

    <script type="text/template" id="posts-collection-template">
        <ol>
          <% _.each(posts, function(post) { %>
            <li>
                <a href="#post/<%= post.id %>"><b><%= post.id %></b></a>
                <br><%= post.message %>
            </li>
          <% }); %>
        </ol>
    </script>

    <script type="text/template" id="post-details-template">
        <h3><%= id %> :</h3> <h4><%= message %></h4> By <%= author %>
        <br/> Created : <%= dateCreate %>
        <br/> Updated : <%= dateUpdate %>
        <hr/>
        <p><%= converter.makeHtml(text) %></p>
    </script>


    <div class="container left" id="posts-collection-container"></div>
    <div class="container right" id="post-details-container"></div>

</body>
<a href="" class='github_url'>
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
         alt="Fork me on GitHub">
</a>
<script src="js/vendor/showdown.js"></script>
<script src="js/vendor/github.js"></script>


<script src="js/vendor/zepto.min.js"></script>
<script src="js/vendor/underscore-min.js"></script>
<script src="js/vendor/backbone-min.js"></script>
<script src="js/backbone.sync/backbone-sync-github.js"></script>


<link rel="stylesheet" href="style.css" type="text/css" />

<script src="bb-github-api.js"></script>


</html>