<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <title>github</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style>
    .container {
        position                    : absolute;
        display                     : block;
    }

    .left {
        float                       : left;
        left                        : 0px;
        width                       : 30%;
    }

    .right {
        float                       : right;
        left                        : 30%;
        width                       : 70%;
    }
    </style>

</head>

<body>

    <script type="text/template" id="posts-collection-template">
        <ol>
          <% _.each(posts, function(post) { %>
            <li>
                <a href="#post/<%= post.id %>"><b><%= post.id %></b></a>
                <br><%= post.message %>
            </li>
          <% }); %>
        </ol>
    </script>

    <script type="text/template" id="post-details-template">
        <h3><%= id %> :</h3> <h4><%= message %></h4> By <%= author %>
        <br/> Created : <%= dateCreate %>
        <br/> Updated : <%= dateUpdate %>
        <hr/>
        <p><%= converter.makeHtml(text) %></p>
    </script>


    <div class="container left" id="posts-collection-container"></div>
    <div class="container right" id="post-details-container"></div>

</body>

<script src="js/vendor/showdown.js"></script>
<script src="js/vendor/github.js"></script>


<script src="js/vendor/zepto.min.js"></script>
<script src="js/vendor/underscore-min.js"></script>
<script src="js/vendor/backbone-min.js"></script>
<script src="js/backbone.sync/backbone-sync-github.js"></script>


<link rel="stylesheet" href="css/style.css" type="text/css" />

<script src="bb-github-api.js"></script>


</html>